*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: #f46036;
}
.App{
  background-color: #333333;
  color: #f46036;
  min-height: 100vh;
}
.title{
  flex:1;
  color: #f46036;
  font-weight: bold;
  cursor: pointer;
}
